.seat-page {
  padding: 30px;
  max-width: 600px;
  margin: auto;
  text-align: center;
  display: flex;
   flex-wrap: wrap; /* Isse cards niche wali line mein aa jayenge agar jagah kam hui */
    justify-content: center; /* Cards ko center mein rakhne ke liye */
    gap: 20px; 
}
h2{
 color: white;
}
h3{
  color: red;
}

.seat-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* 10 buttons per line */
  gap: 10px;
  margin-bottom: 30px;
}

.seat-btn {
  padding: 10px 0;
  border: 1px solid #ccc;
  background: #f2f2f2;
  cursor: pointer;
}

.seat-btn.active {
  background: green;
  color: white;
}

.confirm-btn {
  margin: 15px;
  padding: 10px;
  width: calc(80% - 30px);
  background-color:red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  height: 60px;
}
